<ion-view view-title="Account">
  <body ng-controller="donateCtrl">
  <ion-content>
    <form stripe:form="saveCustomer">
  <fieldset>

    <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">number</span>
    <input type="text" placeholder="number" data-stripe="number">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">cvc</span>
    <input type="text" placeholder="exp-cvc" data-stripe="cvc">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Exp-month</span>
    <input type="text" placeholder="exp-month" data-stripe="exp-month">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Exp year</span>
    <input type="text" placeholder="Exp-year" data-stripe="exp-year">
  </label>
</div>
  </fieldset>
  <button type="submit">Save</button>

</form>
  
  </ion-content>
  </body>
</ion-view>
